<h2 align="center"> Title : <%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">

	<ul class="listing" >
		<div class="row center">
			<div class="col-md-4 col-md-offset-4">
			<li>Created by:</li>
				<li>
					<%= link_to gravatar_for(@article.user), user_path(@article.user)%>
				</li>
				<li class="article-title">
					<%=link_to @article.user.username, user_path(@article.user)%>
				</li>
				<li>
					<small>
						<%= pluralize(@article.user.articles.count, "article") if @article.user.articles %> 
					</small>
				</li>
			</div>
		</div>
	</ul>

<h4 class="center description"><strong>Description:</strong></h4>
<hr>
<%= simple_format(@article.description)%>
<div class="article-actions">
<% if logged_in? && (@article.user == current_user || current_user.admin?)%>
	<%=link_to 'Edit this article',edit_article_path(@article),class: "btn btn-xs btn-primary"%>
	<%=link_to 'Delete this article',article_path(@article),method: :delete,
	 data:{confirm: "Are you sure you want to delete the article?"},
	  class: "btn btn-xs btn-danger"%>
<%end%>

<%=link_to 'View all articles',articles_path, class: "btn btn-xs btn-success"%>
</div>


</div>

<div class="well col-xs-8 col-xs-offset-2">
	<h4 style="color:#666">Comments:</h4>
		<%@comments.each do |t|%>
			<%if @article.id == t.article_id%>
			<ul class="comment-ul">
				<div class="well">
						<li class="comment-by">
				 <%=link_to (gravatar_for t.user,size:20)%> <%=t.user.username%>:
						<%if logged_in? && (t.user == current_user || current_user.admin?)%>
							<span style="float:right; font-size:16px; margin-top:10px;">
								<%= link_to "x", article_path(@article)%>
							</span>
						<%end%>
				</li>
				<li class="comment-body">
					<%=t.description%>
				</li>
				</div>
			</ul>
			<%end%>
		<%end%>

</div>

	<div class="well col-xs-8 col-xs-offset-2">
		<%= form_for(:comment, :html =>{class: "form-horizontal", role: "form"}, url: article_path(@article)) do |f|%>
		
		<div class="form-group " >
	
			<div class="col-xs-8">
				<%=f.text_area :description,class: "form-control",rows:10, placeholder: "Leave a comment", autocomplete: "off"%>
				</div>
		</div>

		<div class="form-group">
			<div class="col-sm-8">
				<%=f.submit "Post a Comment",class:"btn btn-primary btn-lg"%>
			</div>
		</div>
		
	<%end%>

	</div>