 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/navigation'%>
<div class="center jumbotron">
  <h1>Rails Test App</h1>
  	<%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge"%>
</div>
<%= render 'layouts/footer'%>